#!/bin/sh
# {{ansible_managed}}

set -e

/usr/bin/obnam --quiet \
    --compress-with=deflate \
    --repository="{{ obnam_repository | mandatory }}" \
    {% if obnam_encrypt_with %}--encrypt-with="{{ obnam_encrypt_with }}" {% endif %} \
    {% if obnam_ssh_key %}--ssh-key="{{ obnam_ssh_key | expanduser }}"{% endif %} \
    backup {{ obnam_backup_src | mandatory | join(' ') }}

/usr/bin/obnam --quiet \
    --repository="{{ obnam_repository | mandatory }}" \
    {% if obnam_ssh_key %}--ssh-key="{{ obnam_ssh_key | expanduser }}" {% endif %} \
    {% if obnam_encrypt_with %}--encrypt-with="{{ obnam_encrypt_with }}" {% endif %} \
    --keep="{{ obnam_keep_policy | mandatory }}" \
    forget
